<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo 2-2</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="app">
        <h1>Ejemplo Javascript</h1>
        <div class="mb-3">
            <h2>Agregar elemento:</h2>
            <input type="text" v-on:keyup.enter="addItem" v-model="item"  class="form-control">
            <button v-on:click="addItem" class="btn btn-success">Add</button>
            <button v-on:click="removeLastItem" class="btn btn-danger">Del Last</button>
            <button v-on:click="removeSelectedItem" class="btn btn-success">Del Selected</button>
        </div>
        <div class="mb-3">
            <button v-on:click="toggleList" class="btn btn-secondary">&lt;&lt;</button>
        </div>
        <div v-if="showList" class="mb-3" id="list">
            <!--Lista de elementos-->
            <div class="card">
                <div class="card-body">
                    <ul id="listItems">
                      <li 
                        v-for="(it, id) in items" 
                        v-on:click="selectItem(it)"
                        v-bind:class="{alert: it.isSelected, 'alert-success': it.isSelected}">
                        {{it.item}}
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="app2.js"></script> 
</body>
</html>
